@import './css/variables/index.css';

/* Global box-sizing and prevent unwanted horizontal scroll */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    font-family: var(--font-family-base);
    line-height: var(--line-height-normal);
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color-website);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
